.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
}
.team__title {
    
    padding-top: 10px;
    color: black;
    text-align: center;
    border-bottom: solid 2px var(--bg-cardbanner);
}

.cardscontainer {
    display: flex;
    margin: 0 auto;
    justify-content: flex-start;
    gap: 20px;
    width: 80%;
    flex-wrap: wrap;
    padding: 2rem 2rem;
}
