.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 240px;
    width: 240px;
    padding: 10px;
    text-align: center;
    box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.06);
    border-radius: 10px;
    overflow: hidden;
    background: linear-gradient(to bottom, var(--bg-cardbanner) 35%, white 0);
}


.personName {
    color: #6278F7;
    font-size: 1.3rem;
}

.imagem {
    margin-top: 10px;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}